.DS_Store
.idea/
drop/
go_build_main_go
*.lock.hcl
*terraform.tfstate
*terraform.tfstate.backup
*/.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.60.0/darwin_amd64/terraform-provider-azurerm_v2.60.0_x5
